<div class="container">
 {{#each posts}}
  <div class="col-md-12">
    <h1><a href="/posts/{{id}}" class="post-title">{{title}}</a></h1>
    <p>{{body}}</p>
    <p><a href="/posts/{{id}}">Read more...</a></p>
    <hr>
</div>
{{/each}}

</div>
