body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #1d0002;
}
a:hover {
  color: rgba(20, 25, 36, 0.77);
}
.blog-header {
  margin: 0px 0px 20px 0px;
}
a, a:hover, a:active {
  text-decoration: none;

}
